Quart
discord.py[voice]
discord-ext-menus
jishaku
mcstatus
aiohttp
flask
psutil
requests
pymongo
wavelink>=2.0.0
httpx
tasksio
motor
Augmentor
numpy
aiosqlite
gtts
langdetect
python-dotenv
pyttsx3
PyYAML
openai
duckduckgo-search==6.3.6
pillow
colorama
chess
python-dateutil
deep-translator==1.11.4
pytz
